:root {
    --pink: #f14e95;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body{
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    min-height: 2000px;
}

.hero::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img2/simple-engagement-before-marriage-doing-pre-wedding-photoshoot-free-vector.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: grayscale();
}

.hero{
    min-height: 100vh;
    /* background-color: rgb(68, 67, 67); */
    position: relative;
}

.hero h1{
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
    color: #f14e95;
}

.hero h4{
    font-size: 1.6rem;
    color: #f14e95;
}

.hero a{
    color: var(--pink);
    background-color: aliceblue;
}

.hero a:hover{
    color: aliceblue;
    background-color: var(--pink);
}

.hero p{
    font-size: 1.4rem;
    color: #f14e95;
}

.hero h1, .hero h4, .hero p{
    text-shadow: var(--shadow);
}

#tamu{
    transition: all .3s;
}


.hara{
    min-height: 100vh;
    background-color: #f14e95;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* laptop */
@media (max-width: 992px) {
    html{
        font-size: 70%;

    }

    .simply-countdown>.simply-section{
        padding: 70px;
         background:beige;
    }

}

.bulat{
    width: 50px;
    height: 25px;
    background-color: #f14e95;
    margin-top: 100px;
    border-radius: 50px;
    padding: 5px;
}

.gak{
    width: 16px;
    height: 16px;
    background-color: #0a0a0a;
    border-radius: 50px;
}

.move {
    margin-left: 23px;
}

.dark{
    background-color: #262626;
    color: white;
}


.mynavbar{
    
}














/* Tablet */
@media (max-width: 768px) {
    html{
        font-size: 45%;
    }
    
    .simply-countdown>.simply-section{
        padding: 60px;
        margin: 5px;
        
    }
  
}




/* mobile */
@media (max-width: 576px) {
    html{
        font-size: 60%;
    }

    .simply-countdown > .simply-section{
        padding: 35px !important;
        margin: 3px !important;
        border-radius:50px !important;
        width:10px !important;
        height:10px !important;
        background: black !important;
        
    }
}