*{
    margin: 0;
    padding: 0;
}

body{
    height: 2000px;
}



.navbar-brand,
.offcanvas-title {
    font-family: 'MuseoModerno', cursive;
    letter-spacing: 1px;
  }

  .nav-link{
    color: aqua;
  }


  .page{
    width: 110rem;
    height: 815px;
    margin: 100px auto;
    background-color: rgb(39, 39, 39);

  }


  .bulat{
    width: 50px;
    height: 25px;
    border-radius: 50px;
    border: 1px solid rgb(68, 68, 68);
    padding: 3px;
    
   
  }

  .but{
    width: 17px;
    height: 17px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    transition: all .3s ease;

  }


  .move{
    margin-left: 24px;
    background-color: aqua;
  }

  .pg{
    background-color: rgb(255, 255, 255);
  }

  .bg{
    background-color: rgb(39, 39, 39);
  }
  .text p.tx{
  color: black;
  }
  
  .text H1.tx{
  color: black;
  }

  .pg1{
    background-color: aliceblue;
  }
  
  .text2 p.tx{
  color: black;
  }
  

  .text{
    margin-top:100px ;
    padding-top:10px ;
    margin-left: 50px;
    margin-right: 50px;
  }

  .text h1{
    color: aliceblue;
    margin-left:10px ;
    font-size: 30px;
    font-family: 'Montserrat Alternates', sans-serif;

  }

  .text p{
    color: aliceblue;
    margin-left:10px ;
    font-size: 15px;
    text-align: justify;
    font-family: 'Montserrat Alternates', sans-serif;

  }


  .text2{
    margin-top:100px ;
    padding-top:10px ;
    margin-left: 50px;
    margin-right: 50px;
  }

  .text2 h1{
    color: aliceblue;
    margin-left:10px ;
    font-size: 30px;
    font-family: 'Montserrat Alternates', sans-serif;

  }

  .text2 p{
    color: rgb(0, 0, 0);
    margin-left:10px ;
    font-size: 15px;
    text-align: justify;
    font-family: 'Montserrat Alternates', sans-serif;

  }




/* 
  
  @media (max-width:400px) {

    .body{
      overflow: hidden;
    }

    .page{
      width: 23.2rem;
      height: auto;
      margin: 0px auto;
      background-color: rgb(255, 255, 255);
  }

  

  .text2{
    margin-top:100px ;
    padding-top:10px ;
    margin-left: 50px;
    margin-right: 50px;
  }

  .text2 h1{
    color: rgb(0, 0, 0);
    margin-left:10px ;
    font-size: 15px;
    font-family: 'Montserrat Alternates', sans-serif;

  }



  }


 */






  @media (max-width:400px) {
    .page{
        width: 24.99rem;
        height: auto;
        background-color: rgb(255, 208, 99);
        margin: 0px ;
    }

    
  .text{
    margin-top:60px ;
    padding-top:10px ;
    margin-left: 10px;
    margin-right: 10px;
  }
    

  
  .text h1{
    color: rgb(0, 0, 0);
    margin-left:10px ;
    font-size: 25px;
    font-family: 'Montserrat Alternates', sans-serif;

  }


  
  .text2{
    margin-top:60px ;
    padding-top:10px ;
    margin-left: 20px;
    margin-right: 20px;
  }


  
  .text p{
    color: rgb(47, 47, 47);
    margin-left:10px ;
    font-size: 15px;
    text-align: justify;
    font-family: 'Montserrat Alternates', sans-serif;

  }


  }

