* {
    padding: 0px;
    margin: 0px;
}
.logo {
    font-family: 'MuseoModerno', cursive;
    margin: 13px 0px 0px 20px ;
    font-size: 20px;
   
}


body {
overflow-x: hidden;

}

.change-back {
    background-color: #51ff91;
}

#about {
    transition: 12s ease;
}


/* nav */

nav {
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    position: fixed;
    margin-left: 55px;
    border-radius: 0px 0px 10px 10px;
    z-index: 10;
   
}


.buka {
    width: 200px;
    height: 80px;
    background-color: #3279e400;
}

nav ul {
    display: flex;
    margin-left: 1100px;
    justify-content: space-around;
    opacity: 0%;
    transition: all .3s ease;
}

nav ul li {
    display: flex;
    justify-content: space-between;
    width: 111px;
    margin-top: 20px;
}

nav ul li a{
    display: flex;
    color: inherit;
    font-family: 'Montserrat Alternates', sans-serif;
    text-decoration: none;
}

nav ul li a:hover{
  color: #FF5851;
}


nav ul.op {
    opacity: 100%;
    transition: all 0.5s ease;
}




/* end Nav */




.pg {
    display: flex;
    margin: 0px 0px 0px 55px;
    
}

.pg .kanan {
    background-color: #63d0fb;
    width: 900px;
    height: 850px;
    animation: animasi 2s ease;
}

.lo {
    width: 300px;
    height:287px ;
    background-color:  #FF5851;
    border-radius: 0px 10px 0px 0px;
    animation: animasi1 8s infinite;
    /* animation: ganti 5s infinite; */
}
.l1 {
    width: 600px;
    height:287px ;
    background-color: #1C1B20;;
    border-radius: 0px 10px 0px 0px;
    animation: animasi2 8s infinite;
}
.l2 {
    width: 900px;
    height:287px ;
    background-color: #6e6e6e;
    border-radius: 0px 10px 0px 0px;
    animation: animasi3 8s infinite;
}


@keyframes animasi1 {
    0% {
     width: 0px;
     height: 283px;
     }
 
     50%{
         width: 300px;
        height: 283px;
        transition: 2s;
     }
     100%{
        width: 0px;
        height: 283px;
     }
 }
 
@keyframes ganti{
 0% {background-color: #FF5851 ;}
 20%{background-color: #51ff91 ;}
 40%{background-color: #51d4ff;}
 60%{background-color: #7d51ff;}
 80%{background-color: #ff5191;}
 100%{background-color: #b9ff51; }
 }
 

@keyframes animasi2 {
    0% {
     width: 0px;
     height: 283px;
     }
 
     50%{
         width: 600px;
     height: 283px;
     }
     100%{
        width: 0px;
     height: 283px;
     }
 }
 

@keyframes animasi3 {
    0% {
     width: 0px;
     height: 283px;
     }
 
     50%{
         width: 900px;
     height: 283px;
     }
     100%{
        width: 0px;
        height: 283px;
     }
 }
 

.bx {
    width: 50px;
    height: 50px;
    background-color:#ffffff00;
    margin-top: 10px;
    border-radius: 50px;
}
.bx i{
    cursor: pointer;
}
.bo {
    width: 20px;
    height: 2px;
    margin-top: 3px;
    background-color:#000000;
cursor: pointer;
}

.bx div:nth-child(1){
    width: 15px;
}
.bx div:nth-child(2){
    width: 10px;
}
.bx div:nth-child(3){
    width: 20px;
}

.bx div:hover{
    width: 20px;
    transition: 2s ease;
}



.pg .kanan .teks{
    margin-top: 700px;
}


.kiri a{
    color: inherit;
    text-decoration: none;
}

.kiri button{
    width: 100px;
    height: 25px;
    margin: 40px 0px 0px 480px ;
    border-radius: 5px;
    font-size: 15px;
    border: 3px solid salmon;
    font-family: 'Montserrat Alternates', sans-serif;
}


.kiri button:hover{
    background-color: #1C1B20 ;
    color: #ffffff;

}

@keyframes opas {
    0% {
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}



@keyframes animasi {
   0% {
    width: 0px;
    height: 850px;
    }

    100%{
        width: 900px;
    height: 850px;
    }
}



.pg .judul {
    animation: opasitas 10s ease;
}


@keyframes opasitas {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}



.pg .kiri {
    background-color: #fdfcfb;
    width: 900px;
    height: 850px;
    
}

.kiri h1{
   margin-left: 300px;
    font-family: 'MuseoModerno', cursive;
    font-size: 80px;
    color: #1C1B20;
}

.kiri p{
    margin-left: 400px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: #1C1B20;
  
}

.kiri img {
    margin: 100px 0px 0px 380px ;
}

.nama {
    color: white;
    animation: d3 60s infinite;
}

.isi {
    color: white;
    animation: d3 60s infinite;
}

/* FOOTER */

.footer{
    width: 100%;
    height: 550px;
    background-color: #1C1B20;
}

.logo2 {
    font-family: 'MuseoModerno', cursive;
    margin-top: 70px;
    margin-left: 40px;
    font-size: 40px;
    color: white;
    
}

/* ham menu */

.menu-toggle{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: 15px;
    justify-content: space-between;

}
.menu-toggle input{
  position: absolute;
  width: 20px;
  height: 17px;
  opacity: 0%;
  margin-top: 0;


}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: #1C1B20;
    border-radius: 2px;
    transition: all .3s ease;
}
.menu-toggle input:hover{
    cursor: pointer;
}

/* end ham menu */




/* ham animation */
.menu-toggle span:nth-child(2){

}

.menu-toggle input:checked ~ span:nth-child(2){
    width: 15px;
    transition: 0.5s ease;
    background-color: #FF5851;
}
.menu-toggle input:checked ~ span:nth-child(3){
    width: 28px;
    transition: 0.5s ease;
    background-color: #1C1B20;
}
.menu-toggle input:checked ~ span:nth-child(4){
    width: 20px;
    transition: 0.5s ease;
    background-color:  #6e6e6e;
}

/* end ham animation */



/* portfolio */

.portfolio {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    background-color:  #ffffff;
    width: 1808px;
    border-radius: 10px;
    height: 850px;
}

.jude{
    padding-top: 20px;
    padding-bottom: 5px;
}

.jude h3{
    font-size: 40px;
}

.jude p{
    font-size: 15px;
    text-decoration: underline;
    font-family: 'Montserrat Alternates', sans-serif;
    color: black;
}


.portfolio .jude {
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    font-family: 'MuseoModerno', cursive;
}

.project {
    display: flex;
    margin-top: 10px;
    
    justify-content: space-between;
}

.portfolio h1 {
    padding-top: 50px;
    font-family: 'MuseoModerno', cursive;
}

.p1{
    background-color: #c2191900;
    animation: opas 3s ease;
    ;
}

.p2{
    background-color: #ffffff00;
    animation: opas 3s ease;
}

.p3{
    background-color: #8b121200;
    animation: opas 3s ease;
    margin-right: 50px
}


.pr {
    width: 400px;
    margin-left: 55px;
    margin-right: 55px;
    height: 200px;
    background-color: #FF5851;
    border-radius: 10px 10px 0px 0px ;
}

.pr img {
    background-size:cover;
    width: 440px;
}

.pr img:hover {
    background-size:contain;
}


.h1 {
    margin-left: 55px;
    margin-bottom: 40px;
    width: 437px;
    height: 130px;
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px ;
    display: flex;
    border: 1px solid;
}


.h1 h4 {
font-size: 15px;
margin-left: 20px;
padding-top: 95px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.h1 button {
    margin-left: 20px;
    margin-top: 90px;
    width: 80px;
    height: 30px;
    font-family: 'Montserrat Alternates', sans-serif;
    border-radius: 10px;
    border: 3px solid  #FF5851;
    color: rgb(6, 2, 2);
}

.h1 button:hover{
    background-color: #1C1B20 ;
    color: #ffffff;
}

.h1 button a{
    color: inherit;
    text-decoration: none;
}


.project2 {
    display: flex;
    margin-top: 0px;
    justify-content: space-between;
}



/* end portfolio */

/* Desc */

.desc{
    margin-top: 100px;
    margin-left: 55px;
    margin-right: 0px;
    width: 1800px;
    height: 850px;
    display: flex;
}

@keyframes d1 {
    0%{
        background-color: white;
    }
    50%{
        background-color:  #FF5851;
    }
    100%{
        background-color: white;
    }
}

@keyframes d2 {
    0%{
        background-color: #FF5851;
        color: black;
    }
    50%{
        background-color:  #ffffff;
        color: black;
    }
    100%{
        background-color:  #FF5851;
        color: black;
    }
}

@keyframes d3 {
    0%{
        
        color: rgb(255, 255, 255);
    }
    50%{
        
        color: black;
    }
    100%{
       
        color: rgb(255, 255, 255);
    }
}

@keyframes d4 {
    0%{
        
        background-color: rgb(255, 255, 255);
    }
    50%{
        
        background-color: rgb(0, 0, 0);
    }
    100%{
       
        background-color: rgb(255, 255, 255);
    }
}

@keyframes d5 {
    0%{
        
        color: rgb(0, 0, 0);
    }
    50%{
        
        color: rgb(255, 255, 255);
    }
    100%{
       
        color: rgb(0, 0, 0);
    }
}

.desc1{
    background-color: #747474; 
    width: 900px;
    height: 850px;
    border-radius: 10px 0px 0px 10px;
    /* animation: d1 60s infinite; */
}


/* Slider */

.contain {
    width: 860px;
    margin-left: 20px;
    margin-top: 20px;
}

.card{
    width: 200px;
    height: 300px;
    background: linear-gradient(-299deg, #af1bff,#3279e4);
    border-radius: 30px;
    scroll-snap-align: start;
    cursor: pointer;
}


.card span{
    background-color: #ffffff;
    width: 200px;
    height: 200px;
    border-radius: 30px;
    display: block;
    transition: all .3s;
       
  }



.card span.up{
    background-color: #6051ff;
    transform: rotate(360deg);
   
}

.slide::-webkit-scrollbar{
    display: none;
}

.slide {
    display: grid;
    scroll-behavior: auto;
    grid-auto-flow: column;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    gap: 1.2rem;
  
}




.desc1 .contain .card p{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* end slider */




.desc1 h3{
    margin-top: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.desc1 p{
    text-align: justify;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 27px;
    font-family: 'Montserrat Alternates', sans-serif;

}

.desc1 h4{
    text-align: left;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'MuseoModerno', cursive; ;
    color: rgb(190, 93, 93);
}

.desc1 button {
 
    margin-left: 50px;
    margin-top: 20px;
    width: 100px;
    height: 25px;
    font-size: 13px;
    border-radius: 5px;
    border: 3px solid  #FF5851;
    font-family: 'Montserrat Alternates', sans-serif;
}


.desc1 button:hover{
    background-color: #1C1B20 ;
    color: #ffffff;

}


.desc1 a {
    color: inherit;
    text-decoration: none;
}


.desc1 .kol {
    margin-left: 50px;
    margin-top: 0px;
}

.kol img{
    margin-top: 120px;
}
.kol h5 {
     font-size:20px;
    text-align: justify;
    line-height: 22px;
    font-family: 'MuseoModerno', cursive; ;
    margin-top: 80px;
}

.desc2{
    background-color: #FF5851;
    width: 900px;
    height: 850px;
   
    animation: d2 60s infinite;
    border-radius: 0px 10px 10px 0px;
}


.desc2 h3 {
    text-align: center;
    margin: 40px;
    animation: d3 60s infinite;
    font-family: 'MuseoModerno', cursive; ;
    color: white;
}

.desc2 ul {
    margin-top: 90px;
}

.desc2 ul li {
    list-style: none;
    margin-left: 50px;
    margin-top: 10px;
    font-family: 'Montserrat Alternates', sans-serif

}

.lis {
    display: flex;
    color: white;
    margin-bottom: 50px;
}

.desc2 p {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    text-align: justify;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    animation: d3 60s infinite;
}



.mod{
    width: 40px;
    padding: 2px;
    margin-left: 50px;
    margin-top: 50px;
    height: 15px;
    border-radius: 50px;
    border: 2PX solid  #494949;;
    /* animation: d4 60s infinite; */
}

.buk {
    width: 15px;
    height: 15px;
    background-color: #494949;
    border-radius: 50px;
    transition: all 0.1s  ease;
    animation: d5 .3s infinite;
    cursor: pointer;
}

.active {
    margin-left: 25px;
  
}



.dark-mode {
    background-color: #1C1B20;
    transition: all 0.5s ;
  }

/* end Desc */



.p1:active{
    transform: scale(.9);
}


/* Mobile */



@media screen and (max-width:400px) {
    
  @keyframes animasi {
   0% {
    width: 0px;
    height: 650px;
    }

    100%{
        width: 200px;
    height: 650px;
    }
}


.pg .judul {
    margin: 0px 0px 0px 0px;
    animation: opasitas 10s ease;
}


@keyframes opasitas {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}


.buka {
    width: 200px;
    height: 80px;
    background-color: #3279e4;
    display: none;
}




.logo{
    color: rgb(26, 25, 26);
    font-family: 'MuseoModerno', cursive;
    margin: 13px 0px 0px 0px ;
    font-size: 20px;
}

.pg {
    display: flex;
    margin: 0px 0px 0px 0px;
    background-color: #ffffff;
    justify-content: center;
}

    .pg .kanan {
    background-color: #FF5851;
    margin: 0px 0px 0px 0px;
    width: 200px;
    height: 650px;
    display: flex;
    animation: ganti 20s infinite;
    }

    
.lo {
    width: 50px;
    height: 650px ;
    background-color: #1C1B20;
    border-radius: 0px 0px 10px 0px;
    animation: lo 10s infinite;
}
.l1 {
    width: 50px;
    height:450px ;
    background-color: #305ccd;
    border-radius: 0px 0px 10px 0px;
    animation: l1 10s infinite;
}
.l2 {
    width: 50px;
    height:250px ;
    background-color: #db7c38;
    border-radius: 0px 0px 10px 0px;
    animation: l2 10s infinite;
}


/* animasi kanan */

@keyframes lo {
    0%{
        width: 50px;
        height: 0px ;
    }
    50%{
        width: 50px;
        height: 650px ;
    }
    100%{
        width: 50px;
        height: 0px ;
    }
}

@keyframes l1 {
    0%{
        width: 50px;
        height: 0px ;
    }
    50%{
        width: 50px;
        height: 450px ;
    }
    100%{
        width: 50px;
        height: 0px ;
    }
}

@keyframes l2 {
    0%{
        width: 50px;
        height: 0px ;
    }
    50%{
        width: 50px;
        height: 250px ;
    }
    100%{
        width: 50px;
        height: 0px ;
    }
}


    .pg .kiri {
    background-color: #ffffff;
    margin: 0px 0px 0px 0px;
    width: 200px;
    height: 650px;
    
}
 
.kiri p{
    margin: 10px 0px 0px 55px ;
    font-family: 'Dancing Script', cursive;
    font-size: 0px;
    color: #1C1B20;
  
}

.kiri img {
    margin: 140px 0px 0px 30px ;
    width: 150px;

}
.kiri h1{
    font-family: 'MuseoModerno', cursive;
    font-size: 25px;
    color: #1C1B20;
    margin: 10px 0px 0px 30px ;
    line-height: 35px;
}

.kiri button{
    width: 100px;
    height: 40px;
    margin: 10px 0px 0px 50px ;
    border-radius: 5px;
    border: 3px solid salmon;
}

.footer{
    width: 100%;
    height: 400px;
    margin-top: 300px;
    background-color: #1C1B20;
}








/* humberger mwnu */


.menu-toggle {

}

.menu-toggle span {
width: 20px;
height: 3px;
margin-right: 500PX;
background-color: #1C1B20;
}
.menu-toggle input{
    position: absolute;
    width: 20px;
    height: 17px;
    opacity: 0%;
    margin-top: 0;
  
  
  }

/* end */



nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 1080;
    height: 50vh;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #ffffff;
    border: 1px solid;
    margin-top: 60px;
    margin-right: 10px;
    z-index: 100;
    opacity: 0%;
   
    /* box-shadow: 1px 1px 1px 1px; */                                                                                                                                                                                         
}
 

nav {
    position: relative;
    display: flex;
    border-radius: 0px 0px 0px 0px;
   
}



nav ul.slide {
    opacity: 100%;
    transition: all 0.5s ease;
}

nav ul li a{
    display: flex;
    margin-left: 60px;
    margin-top: 10px;
  
}

nav ul li{
    background-color: #ffffff;
    width:144px;
    height: 40px;
}

nav ul li:hover:nth-child(1){
    background-color: #ffa551;
    color: white;
}

nav ul li:hover:nth-child(2){
    background-color: #51abff;
    color: white;
}

nav ul li:hover:nth-child(3){
    background-color: #ceff51;
    color: white;
}

nav ul li:hover:nth-child(4){
    background-color: #6051ff;
    color: white;
}

nav ul li:hover:nth-child(5){
    background-color: #ff5151;
    color: white;
}



/* Project */




.portfolio {
    background-color: #ffffff;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    width: 350px;
    height: 850px;
    justify-content: space-between;
}
.portfolio h1 {
    padding-top: 50px;
    color: #040403;
    font-family: 'MuseoModerno', cursive;
}
.portfolio p {
text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.jude h3{
    font-size: 20px;
}



.jude p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
}

.project {
    display: block;
    margin-top: 20px;
    margin-left: 18px;
}

.project2 {
    display: none;
    margin-top: 20px;
    margin-left: 18px;
}

.pr:hover {
    background-color: #787979;
    transition: 0.5s ease-in;
}


.pr {
    margin-top: 50px;
    width: 180px;
    height: 100px;
    background-color: #FF5851;
    margin-left: 2px;
    border-radius: 10px 10px 0px 0px ;
}

.pr img {
    display: block;
    background-size:cover;
    width: 320px;
}



.p1{
    width: 278px;
   
}

.p2{
    width: 278px;
}

.p3{
    width: 278px;
}

.h1 h4{
    padding-top: 15px;
    text-align: center;
}

.h1 button{
    margin-right: 20px;
    margin-top: 10px;
}



.h1 {
    margin-left: 3px;
    margin-top: 100px;
    padding-top: 10px;
    width: 318px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px ;
    box-shadow: 0px 0px 3px 0px ;
    display: flex;
    border: none;
    justify-content: space-between;
}

.desc {
    display: none;
}


}



/* laptop */

/* 

@media screen and  (max-width: 1024px) {
    body {
        position: absolute;
    }
    nav {
        display: flex;
        background-color: #ffffff;
        justify-content: space-between;
        margin-left: 40px;
        width: 1200px;
        border-radius: 0px 0px 10px 10px;
    }
    nav ul {
        display: flex;
        margin-left: 500px;
        justify-content: space-around;
        opacity: 0%;
        transition: all .3s ease;
    }
    .pg {
        display: flex;
        margin: 0px 0px 0px 40px;
    }
    .pg .kanan {
        background-color: #63d0fb;
        width: 600px;
        height: 600px;
        animation: none;
    }
    .pg .kiri {
        background-color: #fdfcfb;
        width: 600px;
        height: 600px;
    }
    .kiri h1 {
        margin-left: 300PX;
        margin-top: 10PX;
        font-family: 'MuseoModerno', cursive;
        font-size: 20px;
        color: #1C1B20;
    }
    .kiri p {
        margin-left: 200px;
        font-family: 'Dancing Script', cursive;
        font-size: 30px;
        color: #1C1B20;
    }
    .kiri img {
        margin: 50px 0px 0px 200px;
    }
    @keyframes a1 {
        0% {
            width: 0px;
        }
        50% {
            width: 200px;
        }
        100% {
            width: 0px;
        }
    }
    @keyframes a2 {
        0% {
            width: 0px;
        }
        50% {
            width: 400px;
        }
        100% {
            width: 0px;
        }
    }
    @keyframes a3 {
        0% {
            width: 0px;
        }
        50% {
            width: 650px;
        }
        100% {
            width: 0px;
        }
    }
    .lo {
        width: 200px;
        height: 200px;
        background-color: #ff5151;
        border-radius: 0px 10px 0px 0px;
        animation: a1 6s infinite;
    }
    .l1 {
        width: 425px;
        height: 200px;
        background-color: #1C1B20;
        ;
        border-radius: 0px 10px 0px 0px;
        animation: a2 6s infinite;
    }
    .l2 {
        width: 650px;
        height: 200px;
        background-color: #6e6e6e;
        border-radius: 0px 10px 0px 0px;
        animation: a3 6s infinite;
    }
    .kiri button {
        width: 100px;
        height: 25px;
        margin: 40px 0px 0px 290px;
        border-radius: 5px;
        font-size: 15px;
        border: 3px solid salmon;
        font-family: 'Montserrat Alternates', sans-serif;
    }
    .desc {
        margin-top: 100px;
        margin-left: 40px;
        margin-right: 0px;
        width: 1200px;
        height: 700px;
        display: flex;
    }
    @keyframes d1 {
        0% {
            background-color: white;
        }
        50% {
            background-color: #FF5851;
        }
        100% {
            background-color: white;
        }
    }
    @keyframes d2 {
        0% {
            background-color: #FF5851;
            color: black;
        }
        50% {
            background-color: #ffffff;
            color: black;
        }
        100% {
            background-color: #FF5851;
            color: black;
        }
    }
    @keyframes d3 {
        0% {
            color: rgb(255, 255, 255);
        }
        50% {
            color: black;
        }
        100% {
            color: rgb(255, 255, 255);
        }
    }
    @keyframes d4 {
        0% {
            background-color: rgb(255, 255, 255);
        }
        50% {
            background-color: rgb(0, 0, 0);
        }
        100% {
            background-color: rgb(255, 255, 255);
        }
    }
    @keyframes d5 {
        0% {
            color: rgb(0, 0, 0);
        }
        50% {
            color: rgb(255, 255, 255);
        }
        100% {
            color: rgb(0, 0, 0);
        }
    }
    .desc1 {
        background-color: #565656;
        width: 600px;
        height: 600px;
        border-radius: 10px 0px 0px 10px;
        animation: none;
    }
    .desc1 p {
        text-align: justify;
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 15px;
        font-family: 'Montserrat Alternates', sans-serif;
    }
    .desc1 h4 {
        text-align: left;
        margin-top: 10px;
        margin-left: 50px;
        margin-right: 50px;
        font-family: 'MuseoModerno', cursive;
        ;
        color: rgb(190, 93, 93);
    }
    .desc1 button {
        margin-left: 50px;
        margin-top: 20px;
        width: 100px;
        height: 25px;
        font-size: 13px;
        border-radius: 5px;
        border: 3px solid #FF5851;
        font-family: 'Montserrat Alternates', sans-serif;
    }
    .desc1 button:hover {
        background-color: #1C1B20;
        color: #ffffff;
    }
    .desc1 a {
        color: inherit;
        text-decoration: none;
    }
    .desc1 .kol {
        margin-left: 50px;
        margin-top: 0px;
    }
    .kol img {
        margin-top: 50px;
    }
    .kol h5 {
        font-size: 20px;
        text-align: justify;
        line-height: 22px;
        font-family: 'MuseoModerno', cursive;
        ;
        margin-top: 20px;
    }
    .desc2 {
        background-color: #FF5851;
        width: 600px;
        height: 600px;
        animation: d2 60s infinite;
        border-radius: 0px 10px 10px 0px;
    }
    .desc2 h3 {
        text-align: center;
        margin: 40px;
        animation: d3 60s infinite;
        font-family: 'MuseoModerno', cursive;
        ;
        color: white;
    }
    .desc2 ul {
        margin-top: 50px;
    }
    .desc2 ul li {
        list-style: none;
        margin-left: 50px;
        margin-top: 0px;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 12px;
    }
    .lis {
        display: flex;
        color: white;
        margin-bottom: 50px;
    }
    .desc2 p {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 10px;
        text-align: justify;
        font-family: 'Montserrat Alternates', sans-serif;
        color: white;
        animation: d3 60s infinite;
        font-size: 12px;
    }
    .desc2 img {
        width: 100px;
    }
    .portfolio {
        margin-top: 10px;
        margin-left: 40px;
        margin-right: 50px;
        margin-bottom: 50px;
        background-color: #ffffff;
        width: 1200px;
        border-radius: 10px;
        height: 780px;
    }
    .jude {
        padding-top: 20px;
        padding-bottom: 5px;
    }
    .jude h3 {
        font-size: 40px;
    }
    .jude p {
        font-size: 15px;
        text-decoration: underline;
        font-family: 'Montserrat Alternates', sans-serif;
        color: black;
    }
    .portfolio .jude {
        margin-top: 10px;
        text-align: center;
        text-decoration: none;
        font-family: 'MuseoModerno', cursive;
    }
    .project {
        display: flex;
        margin-top: 10px;
        margin-right: 50px;
        justify-content: space-between;
    }
    .portfolio h1 {
        padding-top: 50px;
        font-family: 'MuseoModerno', cursive;
    }
    .p1 {
        background-color: #c2191900;
        animation: opas 3s ease;
    }
    .p2 {
        background-color: #ffffff00;
        animation: opas 3s ease;
    }
    .p3 {
        background-color: #8b121200;
        animation: opas 3s ease;
        margin-right: 0px
    }
    .pr {
        width: 300px;
        background-color: #ffffff00;
        border-radius: 10px 0px 0px 0px;
    }
    .pr img {
        background-size: cover;
        margin-top: 10px;
        padding-top: 5px;
        width: 300px;
    }
    .pr img:hover {
        background-size: contain;
    }
    .h1 {
        margin-left: 55px;
        margin-bottom: 40px;
        width: 299px;
        height: 50px;
        background-color: #ffffff;
        border-radius: 0px 0px 10px 10px;
        display: flex;
        border: 1px solid;
    }
    .h1 h4 {
        font-size: 15px;
        margin-left: 20px;
        padding-top: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .h1 button {
        margin-left: 20px;
        margin-top: 10px;
        width: 80px;
        height: 30px;
        font-family: 'Montserrat Alternates', sans-serif;
        border-radius: 10px;
        border: 3px solid #FF5851;
        color: rgb(6, 2, 2);
    }
    .h1 button:hover {
        background-color: #1C1B20;
        color: #ffffff;
    }
    .h1 button a {
        color: inherit;
        text-decoration: none;
    }
    .project2 {
        display: flex;
        margin-top: 0px;
        margin-right: 50px;
        justify-content: space-between;
    }

    
.contain {
    width: 430px;
    margin-left: 80px;
    margin-top: 100px;
}
} */