* {
    padding: 0px;
    margin: 0px;
}
.logo {
    font-family: 'MuseoModerno', cursive;
    margin: 13px 0px 0px 60px ;
    font-size: 20px;
}


body {
overflow-x: hidden;
}




nav {
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
}


nav ul {
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-top: 20px;
}

nav ul li a{
    display: none;
    color: inherit;
    text-decoration: none;
}

.pg {
    display: flex;
    margin: 0px 0px 0px 55px;
    
}

.pg .kanan {
    background-color: #51c8ff;
    width: 900px;
    height: 850px;
    animation: animasi 2s ease;
}

.lo {
    width: 300px;
    height:283px ;
    background-color: #1C1B20;
    border-radius: 0px 10px 0px 0px;
    animation: animasi1 8s infinite;
    /* animation: ganti 5s infinite; */
}
.l1 {
    width: 600px;
    height:283px ;
    background-color: #305ccd;
    border-radius: 0px 10px 0px 0px;
    animation: animasi2 8s infinite;
}
.l2 {
    width: 900px;
    height:283px ;
    background-color: #db7c38;
    border-radius: 0px 10px 0px 0px;
    animation: animasi3 8s infinite;
}


@keyframes animasi1 {
    0% {
     width: 0px;
     height: 283px;
     }
 
     50%{
         width: 300px;
        height: 283px;
        transition: 2s;
     }
     100%{
        width: 0px;
        height: 283px;
     }
 }
 
@keyframes ganti{
 0% {background-color: #FF5851 ;}
 20%{background-color: #51ff91 ;}
 40%{background-color: #51d4ff;}
 60%{background-color: #7d51ff;}
 80%{background-color: #ff5191;}
 100%{background-color: #b9ff51; }
 }
 

@keyframes animasi2 {
    0% {
     width: 0px;
     height: 283px;
     }
 
     50%{
         width: 600px;
     height: 283px;
     }
     100%{
        width: 0px;
     height: 283px;
     }
 }
 

@keyframes animasi3 {
    0% {
     width: 0px;
     height: 283px;
     }
 
     50%{
         width: 900px;
     height: 283px;
     }
     100%{
        width: 0px;
        height: 283px;
     }
 }
 

.bx {
    width: 50px;
    height: 50px;
    background-color:#ffffff;
    margin-top: 10px;
}
.bx i{
    cursor: pointer;
}
.bo {
    width: 20px;
    height: 2px;
    margin-top: 3px;
    background-color:#000000;
cursor: pointer;
}

.bx div:nth-child(1){
    width: 15px;
}
.bx div:nth-child(2){
    width: 10px;
}
.bx div:nth-child(3){
    width: 20px;
}

.bx div:hover{
    width: 20px;
    transition: 2s ease;
}



.pg .kanan .teks{
    margin-top: 700px;
}


.kiri a{
    color: inherit;
    text-decoration: none;
}

.kiri button{
    width: 100px;
    height: 25px;
    margin: 40px 0px 0px 450px ;
    border-radius: 5px;
    border: 3px solid salmon;
}


.kiri button:hover{
    background-color: #1C1B20 ;
    color: #ffffff;

}





@keyframes animasi {
   0% {
    width: 0px;
    height: 850px;
    }

    100%{
        width: 900px;
    height: 850px;
    }
}



.pg .judul {
    animation: opasitas 10s ease;
}


@keyframes opasitas {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}



.pg .kiri {
    background-color: #fdfcfb;
    width: 900px;
    height: 850px;
    
}

.kiri h1{
    margin: 70px 0px 0px 100px ;
    font-family: 'MuseoModerno', cursive;
    font-size: 80px;
    color: #1C1B20;
  
}
.kiri p{
    margin: 0px 0px 0px 370px ;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: #1C1B20;
  
}

.kiri img {
    margin: 100px 0px 0px 330px ;
}


.nama h1 {
    text-align: center;
    font-family: 'MuseoModerno', cursive; ;
}

.nama img{
    margin: 20px;
}


.footer{
    width: 100%;
    height: 550px;
    background-color: #1C1B20;
}

.logo2 {
    font-family: 'MuseoModerno', cursive;
    margin-top: 70px;
    margin-left: 40px;
    font-size: 40px;
    color: white;
    
}

.sosial {
    margin-left: 40px;
    margin-top: 300px;
    line-height: 20px;
    font-size: 13px;
    color: white;

}

.sosial h4{
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.sosial p{
    letter-spacing: 1px;
    color: #FF5851;

}
.sosial p:hover{
    color: #ffffff;
    cursor: pointer;

}


.info {
    display: flex;
    justify-content: right;
    margin-right: 50px;
}

/* ham menu */

.menu-toggle{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: 15px;
    justify-content: space-between;

}
.menu-toggle input{
  position: absolute;
  width: 20px;
  height: 17px;
  opacity: 0%;
  margin-top: 0;


}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: #1C1B20;
    border-radius: 2px;
}
.menu-toggle input:hover{
    cursor: pointer;
}

/* end ham menu */




/* ham animation */
.menu-toggle span:nth-child(2){

}

.menu-toggle input:checked ~ span:nth-child(2){
    width: 15px;
    transition: 0.5s ease;
    background-color: #FF5851;
}
.menu-toggle input:checked ~ span:nth-child(3){
    width: 28px;
    transition: 0.5s ease;
    background-color: #1C1B20;
}
.menu-toggle input:checked ~ span:nth-child(4){
    width: 20px;
    transition: 0.5s ease;
}

/* end ham animation */



/* portfolio */

.portfolio {
    margin-top: 100px;
    margin-left: 55px;
    margin-right: 0px;
    background-color: #51ff8b;
    width: 1800px;
    height: 850px;
}

.project {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.portfolio h1 {
    padding-top: 50px;
    font-family: 'MuseoModerno', cursive;
}
.portfolio p {
text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pr {
    width: 450px;
    margin-left: 55px;
    margin-right: 55px;
    height: 200px;
    background-color: #FF5851;
    border-radius: 10px 10px 0px 0px ;
}

.pr img {
    background-size:cover;
    width: 450px;
}


.h1 {
    margin-left: 55px;
    width: 450px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px ;
}


.h1 h4{
    padding-top: 100px;
}

.h1 p, h4{
font-size: 15px;
margin-left: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}




/* Mobile */

@media  (max-width: 400px) {

  @keyframes animasi {
   0% {
    width: 0px;
    height: 650px;
    }

    100%{
        width: 200px;
    height: 650px;
    }
}


.pg .judul {
    margin: 0px 0px 0px 0px;
    animation: opasitas 10s ease;
}


@keyframes opasitas {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}


.pg {
    display: flex;
    margin: 0px 0px 0px 0px;
    background-color: #ffffff;
    justify-content: center;
}

    .pg .kanan {
    background-color: #FF5851;
    margin: 0px 0px 0px 0px;
    width: 200px;
    height: 650px;
    display: flex;
    animation: ganti 20s infinite;
    }

    
.lo {
    width: 50px;
    height: 650px ;
    background-color: #1C1B20;
    border-radius: 0px 0px 10px 0px;
    animation: lo 10s infinite;
}
.l1 {
    width: 50px;
    height:450px ;
    background-color: #305ccd;
    border-radius: 0px 0px 10px 0px;
    animation: l1 10s infinite;
}
.l2 {
    width: 50px;
    height:250px ;
    background-color: #db7c38;
    border-radius: 0px 0px 10px 0px;
    animation: l2 10s infinite;
}


/* animasi kanan */

@keyframes lo {
    0%{
        width: 50px;
        height: 0px ;
    }
    50%{
        width: 50px;
        height: 650px ;
    }
    100%{
        width: 50px;
        height: 0px ;
    }
}

@keyframes l1 {
    0%{
        width: 50px;
        height: 0px ;
    }
    50%{
        width: 50px;
        height: 450px ;
    }
    100%{
        width: 50px;
        height: 0px ;
    }
}

@keyframes l2 {
    0%{
        width: 50px;
        height: 0px ;
    }
    50%{
        width: 50px;
        height: 250px ;
    }
    100%{
        width: 50px;
        height: 0px ;
    }
}


    .pg .kiri {
    background-color: #ffffff;
    margin: 0px 0px 0px 0px;
    width: 200px;
    height: 650px;
    
}
 
.kiri p{
    margin: 10px 0px 0px 55px ;
    font-family: 'Dancing Script', cursive;
    font-size: 0px;
    color: #1C1B20;
  
}

.kiri img {
    margin: 140px 0px 0px 30px ;
    width: 150px;

}
.kiri h1{
    font-family: 'MuseoModerno', cursive;
    font-size: 25px;
    color: #1C1B20;
    margin: 10px 0px 0px 10px ;
    line-height: 35px;
}

.kiri button{
    width: 100px;
    height: 40px;
    margin: 10px 0px 0px 50px ;
    border-radius: 5px;
    border: 3px solid salmon;
}

.footer{
    width: 100%;
    height: 400px;
    background-color: #1C1B20;
}

.sosial {
    margin-left: 40px;
    margin-top: 170px;
    line-height: 20px;
    font-size: 13px;
    color: white;

}

.sosial p{
    letter-spacing: 1px;

}

.info {
    display: flex;
    justify-content: space-between;
}








/* humberger mwnu */


.menu-toggle {

}

.menu-toggle span {
width: 20px;
height: 3px;
margin-right: 500PX;
background-color: #1C1B20;
}

.footer{
    width: 400px;
    height: 400px;
    background-color: #787979;
}

.menu-toggle input{
    position: absolute;
    width: 20px;
    height: 17px;
    opacity: 0%;
    margin-top: 0;
  
  
  }

.info p {
    color: #fdfcfb;
}

/* end */



.portfolio {
    background-color: #ffffff;
    margin-left: 0px;
    margin-right: 0px;
    width: 400px;
    height: 850px;
    justify-content: space-between;
}
.portfolio h1 {
    padding-top: 50px;
    font-family: 'MuseoModerno', cursive;
}
.portfolio p {
text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.project {
    display: block;
    margin-top: 20px;
    margin-left: 5px;
  

}

.pr:hover {
    background-color: #787979;
    transition: 0.5s ease-in;
}


.pr {
    margin-top: 50px;
    width: 280px;
    height: 100px;
    background-color: #FF5851;
    border-radius: 10px 10px 0px 0px ;
    box-shadow: 0px 5px 5px 0px ;
}
.h1 {
    margin-left: 55px;
    width: 280px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px ;
    box-shadow: 0px 0px 3px 0px ;
}

nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    height: 50vh;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #ffffff;
    border: 1px solid;
    margin-top: 60px;
    margin-right: 10px;
    z-index: 100;
    opacity: 0%;
   
    /* box-shadow: 1px 1px 1px 1px; */
}
 
nav ul.slide {
    opacity: 100%;
    transition: all 0.5s ease;
}

nav ul li a{
    display: flex;
    margin-left: 65px;
    margin-top: 10px;
  
}

nav ul li{
    background-color: #ffffff;
    width:160px;
    height: 40px;
}

nav ul li:hover:nth-child(1){
    background-color: #ffa551;
}

nav ul li:hover:nth-child(2){
    background-color: #51abff;
}

nav ul li:hover:nth-child(3){
    background-color: #ceff51;
}

nav ul li:hover:nth-child(4){
    background-color: #6051ff;
}

nav ul li:hover:nth-child(5){
    background-color: #ff5151;
}

.pr img {
    display: none;
    background-size:cover;
    width: 450px;
}


.h1 h4{
    padding-top: 0px;
}



}

